In [6]:
import numpy as np
import pandas as pd
import os

In [11]:
data_path = os.path.join('.', 'data')
gender, test, train = pd.read_csv(os.path.join(data_path, 'gender_submission.csv')), \
pd.read_csv(os.path.join(data_path, 'test.csv')), \
pd.read_csv(os.path.join(data_path, 'train.csv'))

In [14]:
gender.describe()
# test.describe()
# train.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000